table {
  /*...all table attributes like fontsize etc*/
  font-size: 13px;
  color: #333333;
}
table th {
  background-color: #162944 !important;
  color: #fff;
  padding: 8px;
}
table td {
  /*...all td attributes like padding etc*/
  padding: 8px;
}

.text-right {
  text-align: right;
}

.light-header {
  background-color: #0c5595 !important;
}

.totals-header {
  background-color: #fff !important;
  color: #162944 !important;
}

.insightsSelectedProductRoot {
  margin-top: 16px;
}

.insightsSelectedProduct {
  width: 250px;
  text-align: start;
}

.insightsSelectedProduct > .MuiOutlinedInput-notchedOutline {
  border-color: #121212,
}

.insightsSelectedProduct > .MuiInputBase-input {
  padding-top: 9.6px;
  padding-bottom: 9.6px;
}
