.main-container {
    /*margin-top: 20vh;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-space {
    margin-right: 10px;
}

.actions {
    display: flex;
    flex-direction: row-reverse;
}


